// community item 3 modal popup
#communityModal3.community-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2 git & GitHub webinar
                            p.item-skills
                                strong Delivered an online webinar for The Data Lab community
                            p(style="padding-bottom: 1rem;") An organiser for the Data Lab events, Marian Dunbar, put a request out on the mailing list for help with organising a webinar on git and GitHub. Myself and Joe Crispell responded to Marian to offer to help. We met online to make a plan, then myself and Joe worked together using git and GitHub to create quarto markdown slides on git and GitHub. We created GitHub issues for the content we wanted to present, used the projects kanban board and did pull requests/code review. The presentation then showed how to use git and GitHub by showing the issues, pull requests etc. that we created.
                            a.btn.btn-primary-custom(href='https://github.com/TheDataLabScotland/tdl-academy-git-intro', target='_blank')
                                i.fa.fa-code 
                                | Resources
                            a.btn.btn-primary-custom(href='https://thedatalabscotland.github.io/tdl-academy-git-intro/introduction_to_git.html#/title-slide', target='_blank')
                                i.fa.fa-globe
                                | Slides
                            button.btn.btn-outline-secondary-custom(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close