// Portfolio item 6 modal popup
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2 Cleaning NHS data
                            p.item-skills
                                strong Skills:
                                | SQL, R
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/sql.png', alt='...')
                            p During my PhD I wanted to build up some more of my coding skills and learn SQL. I reached out to one of my colleagues, Dr Katie Marwick, who was planning to work with the SAIL Data Bank (NHS data on the entire Welsh population) on an epidemiological project on post-partum psychosis, to offer help with the code.
                            p(style="padding-bottom: 1rem;") This has been a really rewarding experience. I’ve built up my skills in SQL writing complex queries for data with millions of rows, worked inside a Trusted Research Environment (a secure remote desktop where the data is held) and problem solved how to approach and clean many tricky nuances of real world data. Please see the GitHub repo for the SQL code and a schematic diagram illustrating the data cleaning steps.
                            a.btn.btn-primary(href='https://github.com/AmeliaES/SAIL', target='_blank')
                                i.fa.fa-code 
                                | Code
                            button.btn.btn-outline-secondary(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close