doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Amelia Edmondson-Stait

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top') Amelia Edmondson-Stait
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link(href='#community') Community
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .row.align-items-center
                    .row
                    .col-md-3.mx-auto.d-flex.justify-content-center
                        .border-ring
                            .flip-card
                                .flip-inner
                                    .flip-front
                                        img(src='assets/img/AES.png', alt='Front')
                                    .flip-back
                                        img(src='assets/img/AES-back.png', alt='Back')
                    .row.mt-3
                    .col-lg-10.mx-auto
                        h2
                            span#typewriter-wrapper
                                span#typewriter
                        
                        h6(style="color:rgb(49, 62, 26);") neuroscientist by training
                        h6(style="color:rgb(49, 62, 26);") solving problems with data and code
                        .mt-4
                        a.btn.btn-primary.btn-social(href='mailto:amelia1024k@gmail.com', target='_blank')
                            i.fa.fa-envelope
                        a.btn.btn-primary.btn-social(href='https://github.com/ameliaes', target='_blank')
                            i.fab.fa-github
                        a.btn.btn-primary.btn-social(href='https://www.linkedin.com/in/ameliaes/', aria-label='LinkedIn', target='_blank')
                            i.fab.fa-linkedin-in
                        a.btn.btn-primary.btn-social(href='assets/docs/CV_Amelia_Edmondson-Stait.pdf', download)
                            i.fas.fa-file-download

        // Portfolio Grid
        section#portfolio.page-section.bg-light(style='padding-bottom: 2rem;')
            .container
                .text-center
                    h2.section-heading Portfolio
                    h3.section-subheading.text-muted(style = "margin-bottom: 0.2rem;") A selection of work from my PhD and coding side projects. 
                    h3.section-subheading.text-muted Click on thumbnail image for more info.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                video(autoplay loop muted playsinline)
                                    source(src='assets/img/portfolio/TIDAL.mp4', type='video/mp4')
                                    img.img-fluid(src='assets/img/portfolio/TIDAL.png', alt='Fallback image')
                            .portfolio-caption
                                .portfolio-caption-heading R Shiny Application
                                .portfolio-caption-subheading  Tool to aid specialist statistical modelling
                                a.btn.btn-primary(href='https://github.com/TIDAL-modelling/TIDAL', target='_blank')
                                    i.fa.fa-code 
                                    | Code
                                a.btn.btn-primary(href='https://tidal.shinyapps.io/tidalapp/', target='_blank')
                                        i.fa.fa-globe
                                        | Demo
                                a.btn.btn-primary(href='https://tidal-modelling.github.io/', target='_blank')
                                        i.fa.fa-file
                                        | Docs
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                video(autoplay loop muted playsinline)
                                    source(src='assets/img/portfolio/spotify.mp4', type='video/mp4')
                                    img.img-fluid(src='assets/img/portfolio/spotify.png', alt='Fallback image')
                            .portfolio-caption
                                .portfolio-caption-heading Spotify Streaming History
                                .portfolio-caption-subheading Python Dash application
                                a.btn.btn-primary(href='https://github.com/AmeliaES/spotify_dashboard', target='_blank')
                                    i.fa.fa-code 
                                    | Code
                                a.btn.btn-primary(href='https://spotify-dashboard-rfba.onrender.com/', target='_blank')
                                    i.fa.fa-globe
                                    | Demo
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                video(autoplay loop muted playsinline)
                                    source(src='assets/img/portfolio/ecommerce.mp4', type='video/mp4')
                                    img.img-fluid(src='assets/img/portfolio/ecommerce.png', alt='Fallback image')
                            .portfolio-caption
                                .portfolio-caption-heading eCommerce Website
                                .portfolio-caption-subheading PHP, SQL, JavaScript, Cypress E2E Testing
                                a.btn.btn-primary(href='https://github.com/AmeliaES/CodeSpace-Portfolio', target='_blank')
                                    i.fa.fa-code 
                                    | Code
                                a.btn.btn-primary(href='http://mktime-portfolio.infinityfreeapp.com/public/', target='_blank')
                                    i.fa.fa-globe
                                    | Demo
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        // Portfolio item 4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                video(autoplay loop muted playsinline)
                                    source(src='assets/img/portfolio/calc.mp4', type='video/mp4')
                                    img.img-fluid(src='assets/img/portfolio/calc.png', alt='Fallback image')
                            .portfolio-caption
                                .portfolio-caption-heading JavaScript Calculator
                                .portfolio-caption-subheading Vanilla JS, Cypress E2E Testing
                                a.btn.btn-primary(href='https://github.com/AmeliaES/javaScriptCalculator', target='_blank')
                                    i.fa.fa-code 
                                    | Code
                                a.btn.btn-primary(href='https://ameliaes.github.io/javaScriptCalculator/calculator.html', target='_blank')
                                    i.fa.fa-globe
                                    | Demo
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        // Portfolio item 5
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid#rotating-image(src='assets/img/portfolio/rpi1.jpeg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Bus Tracker Display Screen
                                .portfolio-caption-subheading Raspberry Pi, Python
                                a.btn.btn-primary(href='https://github.com/AmeliaES/raspberry-pi-bus-tracker', target='_blank')
                                    i.fa.fa-code 
                                    | Code
                    .col-lg-4.col-sm-6
                        // Portfolio item 6
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/sql.png', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Cleaning NHS Patient Data
                                .portfolio-caption-subheading SQL, R
                                a.btn.btn-primary(href='https://github.com/AmeliaES/SAIL', target='_blank')
                                    i.fa.fa-code 
                                    | Code
        // Community Contributions
        section#community.page-section(style='padding-bottom: 2rem;')
            .container
                .text-center
                    h2.section-heading Community Contributions
                    h3.section-subheading.text-muted Helping others learn to code
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Community item 1
                        .community-item
                            a.community-link(data-bs-toggle='modal', href='#communityModal1')
                                .community-hover
                                    .community-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/community/code-review_summary.png', alt='Fallback image')
                            .community-caption
                                .community-caption-heading Coding Club
                                .community-caption-subheading  Initiated and lead a coding club at work
                                a.btn.btn-primary(href='https://github.com/ccbs-stradl/coding_club', target='_blank')
                                    i.fa.fa-code 
                                    | Resources
                    .col-lg-4.col-sm-6.mb-4
                        // Community item 2
                        .community-item
                            a.community-link(data-bs-toggle='modal', href='#communityModal2')
                                .community-hover
                                    .community-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/community/code-review_summary.png', alt='Fallback image')
                            .community-caption
                                .community-caption-heading DataLab git seminar
                                .community-caption-subheading Online webinar
                                a.btn.btn-primary(href='https://github.com/AmeliaES/spotify_dashboard', target='_blank')
                                    i.fa.fa-code 
                                    | Repo
                                a.btn.btn-primary(href='https://spotify-dashboard-rfba.onrender.com/', target='_blank')
                                    i.fa.fa-globe
                                    | Slides
                    .col-lg-4.col-sm-6.mb-4
                        // Community item 3
                        .community-item
                            a.community-link(data-bs-toggle='modal', href='#communityModal3')
                                .community-hover
                                    .community-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/community/code-review_summary.png', alt='Fallback image')
                            .community-caption
                                .community-caption-heading Code Review Workshop
                                .community-caption-subheading Secured funding to deliver workshop
                                a.btn.btn-primary(href='https://github.com/AmeliaES/CodeSpace-Portfolio', target='_blank')
                                    i.fa.fa-code 
                                    | Code
                                a.btn.btn-primary(href='http://mktime-portfolio.infinityfreeapp.com/public/', target='_blank')
                                    i.fa.fa-globe
                                    | Post
  
        // About
        section#about.page-section.bg-light(style='padding-bottom: 2rem;')
            .container
                .text-center
                    h2.section-heading About
                    h3.section-subheading.text-muted From researching brains to building things with code
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2012-2016 
                                h4.subheading Neuroscience undergrad
                            .timeline-body
                                p.text-muted
                                    | I loved science at school, especially biology and chemistry, so I decided to study neuroscience at Cardiff University. This involved a placement year in my 3rd year at Exeter University working in an electrophysiology lab at a rig like the one in this photo.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2016 - 2019
                                h4.subheading First dabble with coding
                            .timeline-body
                                p.text-muted
                                    | I started a job as a research assistant at Cambridge University working on a really exciting project - mapping the brain of a fruit fly! This picture illustrates a section of the fruit fly brain, I would trace neurons through the layered stacks of these images. This is where I got my first taste of what coding was like. Using R and Python I mapped the connections between neurons we traced in the fly brain. 
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2019 - 2024
                                h4.subheading PhD and more coding
                            .timeline-body
                                p.text-muted
                                    | I moved to Edinburgh to do a PhD in Translational Neuroscience funded by the Wellcome Trust. This is where I really fell in love with coding. I worked on various projects which involved cleaning data on thousands of people and running statistical models to look for patterns between mental health outcomes, genetics and blood markers. I also set up a coding club in my department that I still run today.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2022
                                h4.subheading App development opportunity
                            .timeline-body
                                p.text-muted
                                    | An opportunity arrose during my PhD to do a 6-month secondment building an application to help non-technical researchers with conducting complex statistical models. I taught myself how to build an app using R Shiny leveraging statistcal packages in R to run models on the backend with a user-friendly frontend interface.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/5.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2024 - Present
                                h4.subheading Post-doc & hobby projects
                            .timeline-body
                                p.text-muted
                                    | Since finishing my PhD I took up a post-doctoral position in a different research group in the same department at Edinburgh University. I continue to learn new coding skills in this role as well as explore new technologies in coding side projects.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/6.jpg', alt='...')
                        .timeline-panel
                            h4(style="color: $primary;") Future Software Developer/Tester
                            p.text-muted I'm now looking for software developer and tester opportunites so I can spend more time doing the type of coding that I enjoy the most.


        // Contact
        section#contact.page-section(style='padding-bottom: 1rem;')
            .container
                .row.justify-content-center
                    .col-12
                        .text-center
                            h2.section-heading Contact Me
                .row.justify-content-center
                    .col-12.col-md-8.col-lg-5
                        p(style='padding: 0 1rem;')
                            a.btn.btn-primary.btn-social.me-2(href='mailto:amelia1024k@gmail.com', target='_blank')
                                i.fa.fa-envelope
                            a(href='mailto:amelia1024k@gmail.com', target='_blank')
                                | amelia1024k@gmail.com
                        p(style='padding: 0 1rem;')
                            a.btn.btn-primary.btn-social.me-2(href='https://github.com/ameliaes', target='_blank')
                                i.fab.fa-github
                            | See my code on GitHub
                        p(style='padding: 0 1rem;')
                            a.btn.btn-primary.btn-social.me-2(href='https://www.linkedin.com/in/ameliaes/', aria-label='LinkedIn', target='_blank')
                                i.fab.fa-linkedin-in
                            | Add me on LinkedIn
                        p(style='padding: 0 1rem;')
                            a.btn.btn-primary.btn-social.me-2(href='assets/docs/CV_Amelia_Edmondson-Stait.pdf', download)
                                i.fas.fa-file-download
                            | Download my CV 

                            
        
        // Footer
        footer.footer.p-2.bg-light
            .container
                .text.center
                    p
                        | Copyright &copy; Amelia Edmondson-Stait 2025

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Community Modals
        include includes/community-modal-1
        include includes/community-modal-2
        include includes/community-modal-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

